*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
body {
	background-color: white;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	overflow-x: hidden;
    overflow-y: scroll;
}

        /* Navigation bar */

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.navbar {
    padding: 0 20px 0 50px;
    border: 0;
    border-radius: 0;
    font-size: 1.7em;
    background-color: #e7e7e7;
    margin-bottom: 10%;
}
.navbar-default .navbar-brand {
	font-size: 1em;
    color: #337ab7;
}
.navbar-brand {
    float: left;
    line-height: 1;
}
.navbar-brand:hover {
    color: #1abc9c !important;
    font-weight: bold;
    text-decoration: none;	
}
.navbar-default .navbar-nav>li>a {
    color: #337ab7;
}
.navbar-nav li a:hover {
    color: #1abc9c !important;
    font-weight: bold;
}



     /* First part */
.pageOne {
	background-image: url('./images/background.jpg');
	background-size: cover;
	padding-bottom: 10%;
}
.block {
	background-color: black;
	opacity: .7;
	padding: 10px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}
h1 {
	padding: 0;
	margin-top: 0px;
	font-size: 4em;
	padding-top: 0%;
}
.btnList {
	margin-top: 4%;
}
.btn-default {
	background-color: #e7e7e7;
	border-color: #e7e7e7;
	opacity: .7;
	color: #337ab7;
	font-size: 1.7em;
}
#twitterIcon {
	color: rgb(0, 172, 237);
}
#githubIcon {
	color: rgb(102, 43, 129);
}
#linkedinIcon {
	color: rgb(0, 127, 178);
}

  /* Second part */
.pageTwo {
	background-color: #eee;
	background-size: cover;
	padding-top: 5%;
	padding-bottom: 2%;
}
p {
	font-size: 1.3em;
}
.description {
	padding-left: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}
#myPhoto {
	height: 250px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-radius: 50%;
}
.text-black {
	color: black;
}

   /* Third part */
.pageThree {
	background-color: #D3D3D3;
	background-size: cover;
	padding-top: 1%;
	padding-bottom: 2%;
}
.paddingTop {
	padding-top:2%;
    padding-bottom:2%;
}
 .project-title a:hover {
    color: #1abc9c !important;
    font-weight: bold;
    text-decoration: none;
}

#screenshot1 {
    height: 290px;
    width: 450px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#screenshot2 {
	height: 290px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.text-black a:hover {
    color: #1abc9c !important;
    font-weight: bold;
    text-decoration: none;
}

    /* Fourth part and footer*/
.pageFour {
   background-color: #37474f;
   background-size: cover;
   padding-top: 5%;	
}
 .mail h3 a:hover {
    color: #1abc9c !important;
    font-weight: bold;
    text-decoration: none;
}
.paddingBtn {
	width: 250px;
	margin-bottom: 25px;
}
 
 .footer {
 	padding-top: 5px;
 	background-color: #263238;
 	height: 90px;
 }
 .footer h4 a:hover {
    color: #1abc9c !important;
    font-weight: bold;
    text-decoration: none;
}

       /* Media query*/
@media screen and (max-width: 680px) {
    h1 {
    	font-size: 3em;
    }
    #screenshot1 {
    	height: 200px;
    	width: 300px;
    }
}
@media screen and (max-width: 520px) {
    h1 {
    	font-size: 2em;
    }
}
@media screen and (max-width: 504px) {
    .pull-right {
        float: none !important;
    }
}
@media screen and (max-width: 480px) {
    #myPhoto {
        height: 200px;
    }
}
@media screen and (max-width: 376px) {
	.navbar-default .navbar-brand {
		font-size: 0.7em;
	}
    h1 {
        font-size: 1em;
    }
    #screenshot1 {
    	width: 150px;
    }
    #screenshot1, #screenshot2, #myPhoto {
    	height: 100px;
    }
}


